input{
	border:whitesmoke 1px solid;
	background-color: inherit;
	border-style:solid;
	border-radius: 3px;
	color:inherit;
	font-family: Lucida Console;
	height: 20px;
	width: 40px;
	margin: 5px;
}
input:disabled{
	border-color: rgba(143, 143, 143, 0.3);
}

label{
	display: inline-block;
}
select{
	color:white;
	border-style:solid;
	border-radius: 3px;
	background-color: inherit;
	border-color: white;
			border-width: thin;
	min-width: 216px;
}
button {
	border: none;
	background-color: rgba(0, 0, 0, 0.2);
	color:white;
	font-size: inherit;
	transition-duration: 0.4s;
	margin:10px 10px 10px 0px;
	padding:10px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
    background-color:	#e61e55;
}

tr.show{
	display: table-row !important;
}
td.show {
	visibility: hidden;
}
td:last-child{
	width: 40px;
	text-align: center;
}
.crossed, .crossed:active{
	border-color: transparent;
	color: rgba(119, 119, 119, 0.7);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10%;
}
.notCounted{
	border-color: goldenrod;
	background-color: rgba(252, 217, 153, 0.411);
	border-radius: 10%;
}


.invalid{
	border-color: goldenrod;

}