@media only screen and (max-width: 600px) {
    body {
      background-color:  rebeccapurple;
    }
  }
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color:#1a2332;
	color:white;
	margin: 20px;
}
input{
	border:white 1px solid;
	background-color: inherit;
	border-style:solid;
	border-radius: 3px;
	color:inherit;
	font-family: Lucida Console;
	height: 20px;
	width: 40px;
	margin: 5px;
}
label{
	display: inline-block;
}
select{
	color:white;
	border-style:solid;
	border-radius: 3px;
	background-color: inherit;
	border-color: white;
			border-width: thin;
	min-width: 216px;
}
ul{
	list-style:circle;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color:#e61e55;
	text-decoration: underline;
}
button {
	color:white;
	font-size: inherit;
	background-color:inherit;
	transition-duration: 0.4s;
	margin:10px 10px 10px 0px;
	padding:10px 10px 10px 3px;
	border: none;
	border-radius: 5px;
}
#btntxt{
	text-align: center;
}
button:hover {
	cursor: pointer;
    background-color:	#e61e55;
}
.warning, .warning:active{
	border-color: tomato;
	background-color: rgba(255, 120, 96, 0.411);
	border-radius: 10%;
}
.notCounted{
	border-color: goldenrod;
	background-color: rgba(252, 217, 153, 0.411);
	border-radius: 10%;
}

tr.show{
	display: table-row !important;
}
td.show {
	visibility: hidden;
}

.invalid{
	border-color: goldenrod;

}
input:disabled{
	border-color: rgba(143, 143, 143, 0.3);
}